# Movielens Recommendation System

by Umur TÃ¼rkay and Yasemin Alpay

In [28]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import scipy as sc
import scipy.linalg as la
import pandas as pd
import heapq as hp
import math

We use the MovieLens data for our recommendation system. MovieLens is a recommendation system which recommends movies for its users by using collaborative filtering. It makes predictions based on your movie ratings; what we are trying to do actually.

First we read the rating data using pandas library. We use a small part of the tables to make our method work faster to see some results.

In [29]:
rnames = ['user_id', 'movie_id', 'rating', 'timestamp'] 
mnames  = ['movie_id', 'title', 'genres']
rratings = pd.read_table('data/ratings.dat', sep='::', header=None, names=rnames, engine='python')
ratings = rratings[:500]
mmovies  = pd.read_table(u'data/movies.dat', sep='::', header=None, names=mnames, engine = 'python')
movies = mmovies[:500]

Let's see what the movies data look like. In movies, movie id, movie name (title) and the genre(s) of the movie are listed.

In [30]:
movies [:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

Let's see what ratings data look like. In ratings, id of the user who rated the movie, movie id, rating and timestamp are given.

In [31]:
ratings[:10]

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291
5        1      1197       3  978302268
6        1      1287       5  978302039
7        1      2804       5  978300719
8        1       594       4  978302268
9        1       919       4  978301368

Let's now merge movies and ratings data to see in a better way.

In [32]:
Ar1 = np.array(ratings)
R = np.array(ratings['rating'])

allratings = pd.merge(movies, ratings)
allratings[:10]

,movie_id,title,genres,user_id,rating,timestamp
0,1,Toy Story (1995),Animation|Children's|Comedy,1,5,978824268
1,1,Toy Story (1995),Animation|Children's|Comedy,6,4,978237008
2,6,Heat (1995),Action|Crime|Thriller,5,2,978245916
3,16,Casino (1995),Drama|Thriller,5,3,978245645
4,21,Get Shorty (1995),Action|Comedy|Drama,2,1,978299839
5,24,Powder (1995),Drama|Sci-Fi,5,1,978242934
6,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi,5,5,978245065
7,32,Twelve Monkeys (1995),Drama|Sci-Fi,5,4,978244962
8,34,Babe (1995),Children's|Comedy|Drama,5,4,978244603
9,36,Dead Man Walking (1995),Drama,5,3,978244808

Lets see which movie has how many ratings

In [33]:
allratings['title'].value_counts()

Jurassic Park (1993)                                          3
Star Wars: Episode IV - A New Hope (1977)                     3
Maverick (1994)                                               2
Pulp Fiction (1994)                                           2
Like Water for Chocolate (Como agua para chocolate) (1992)    2
Forrest Gump (1994)                                           2
Speed (1994)                                                  2
Apollo 13 (1995)                                              2
Pocahontas (1995)                                             2
Toy Story (1995)                                              2
Shawshank Redemption, The (1994)                              2
Crow, The (1994)                                              1
Naked (1993)                                                  1
Wyatt Earp (1994)                                             1
Clear and Present Danger (1994)                               1
Cliffhanger (1993)                                            1
Broken Arrow (1996)                                           1
Getaway, The (1994)                                           1
Powder (1995)                                                 1
Bullets Over Broadway (1994)                                  1
Demolition Man (1993)                                         1
Usual Suspects, The (1995)                                    1
Priest (1994)                                                 1
Four Weddings and a Funeral (1994)                            1
Age of Innocence, The (1993)                                  1
Desperado (1995)                                              1
Crumb (1994)                                                  1
Smoke (1995)                                                  1
City of Lost Children, The (1995)                             1
Seven (Se7en) (1995)                                          1
Babe (1995)                                                   1
Richard III (1995)                                            1
Before Sunrise (1995)                                         1
Dead Man Walking (1995)                                       1
Don Juan DeMarco (1995)                                       1
Get Shorty (1995)                                             1
Mighty Aphrodite (1995)                                       1
Casino (1995)                                                 1
Fugitive, The (1993)                                          1
True Lies (1994)                                              1
Braveheart (1995)                                             1
Death and the Maiden (1994)                                   1
Much Ado About Nothing (1993)                                 1
Strawberry and Chocolate (Fresa y chocolate) (1993)           1
Mr. Jones (1993)                                              1
Happy Gilmore (1996)                                          1
Go Fish (1994)                                                1
Outbreak (1995)                                               1
Madness of King George, The (1994)                            1
Total Eclipse (1995)                                          1
Heat (1995)                                                   1
Living in Oblivion (1995)                                     1
Die Hard: With a Vengeance (1995)                             1
Clueless (1995)                                               1
Natural Born Killers (1994)                                   1
Twelve Monkeys (1995)                                         1
Ed Wood (1994)                                                1
Lion King, The (1994)                                         1
Name: title, dtype: int64

## Algorithm 1 -Item Based k-NN

We used collaborative filtering and implemented item based k-NN algorithm to determine the recommendations. In order to implement the k-NN algorithm, we had to define a similarity function. 

The similarity functions that can be used in k-NN can vary, like Euclidean, Hamming, or Cosine similarity. We have chosen adjusted cosine similarity for our implementation. (Also can be found in: "Recommendation System Based on Collaborative Filtering", Chapter 3.1, by Zheng Wen, December 12, 2008).

Algorithm follows:

1-Each movie is passed to the similarity function. Similarity function need users and these users are selected from a set which the user u1 and user u2 voted for the movies that similarity function finds the similarity for.

2-Most similar k movies for each movie is found using the heap structure. 

3-We calculate weighted average to predict the rating that the user u gives to movie m. As the weight, we use the similarity values of the movie m and the most k similar movies to m
correspondingly.

Similarity function:

In [34]:
def sim(m1, m2):  #Movies to be compared 
    sum = 0
    diffSquare1 = 0
    diffSquare2 = 0
    M1 = Ar1[Ar1[:,1] == m1]
    M2 = Ar1[Ar1[:,1] == m2]
    commonUsers = np.intersect1d(M1[:,0], M2[:,0])
    for i in range(len(commonUsers)):
        userRatingMovie1 = np.array(ratings[(ratings.user_id == commonUsers[i]) & (ratings.movie_id == m1)]['rating'])[0]
        userRatingMovie2 = np.array(ratings[(ratings.user_id == commonUsers[i]) & (ratings.movie_id == m2)]['rating'])[0]
        U = Ar1[Ar1[:,0] == commonUsers[i]]
        userAvgRating = float(np.mean(U[:,2]))
        
        diffMov1 = float(userRatingMovie1 - userAvgRating)
        diffMov2 = float(userRatingMovie2 - userAvgRating)
        
        sum = float(sum + (diffMov1)*(diffMov2))
        
        diffSquare1 = diffSquare1 + pow(diffMov1,2)
        diffSquare2 = diffSquare2 + pow(diffMov2,2)
        
    #sim = float(float(sum)/float(math.sqrt(diffSquare1*diffSquare2)))
    if((diffSquare1 == 0.0) | (diffSquare2 == 0.0)):
        return 0
    else:
        simval = float(sum)/float(math.sqrt(diffSquare1*diffSquare2))
    return simval

Heap:

In [35]:
# Use a heap to store the smallest items
# Define an object and overload custom comparison operators
class tup:
    def __init__(self, val, idx):
        self.val = val
        self.idx = idx
                
    def __lt__(self, other):
        '''Redefine for max-heap'''
        return self.val > other.val
    
    def __le__(self, other):
        return self.val <= other.val
 
    def __eq__(self, other):
        return self.val == other.val
    
    def __ne__(self, other):
        return self.val != other.val

    def __gt__(self, other):
        return self.val > other.val

    def __ge__(self, other):
        return self.val >= other.val

    def __str__(self):
        return '{:.3},{:d}'.format(self.val,self.idx)

Our recommendation function

In [36]:
def recommendMovies(user_id,heapsize):
    user_id = 1 #user id to give recommendation
    heapsize = 20
    # Heap with dummy data
    heap = []
    for i in range(heapsize):
        hp.heappush(heap, tup(0.0, -1))

    usersRatedMovies= np.array(ratings[(ratings.user_id == user_id)]['movie_id'])
    allMovies = np.array(ratings['movie_id'])
    usersUnRatedMovies = list(set(allMovies) - set(usersRatedMovies))

    N = allMovies.shape[0]   
    comparedMovie = 1
    rankings = []
    for k in range(len(usersUnRatedMovies)):
        if(len(usersUnRatedMovies)>k):
            comparedMovie = usersUnRatedMovies[k]
            simSum = 0
            for m in range(N):
                simValue = sim(comparedMovie, allMovies[m])
                simSum += simValue
                tp = tup(simValue, allMovies[m])
                if tp <= heap[0]:
                    hp.heapreplace(heap, tp)
            prediction = 0.0
            for j in range(len(heap)):
                h = hp.heappop(heap)
                prediction += h.val*ratings[(ratings.user_id == 1)][(ratings.movie_id == h.idx)]['rating']
            prediction = prediction/simSum
            rankings.append((prediction, comparedMovie))
        heap = []
        for i in range(heapsize):
            hp.heappush(heap, tup(0.0, -1))
            
    print("success")

In [37]:
recommendMovies(1, 20)

success

C:\Users\MONSTER\Anaconda3\lib\site-packages\pandas\core\frame.py:1997: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  "DataFrame index.", UserWarning)

## Algorithm 2 - Stochastic Gradient Descent

We implemented SGD as our second algorithm.

In [42]:
userM = np.matrix(ratings.user_id).T
movieM = np.matrix(ratings.movie_id).T
ratingM = np.matrix(ratings.rating).T

userLength = np.hstack(set(ratings['user_id']))[-1]
movieLength = np.hstack(set(ratings['movie_id']))[-1]

userStart = np.matrix([0]*(userLength+1)).T 
movieStart = np.matrix([0]*(movieLength+1)) 
Y = userStart*movieStart
M = Y
Ys = np.hstack([ratingM,userM,movieM])
Ysize = Ys.shape[0]

userLength
movieLength

2029

We have Y as our sparse matrix here. Y matrix has users as its rows and movies as its columns. Elements are ratings.
On the other hand, Ys matrix is a combination of ratings, users and movies.

In [39]:
Ys[:10]

matrix([[   5,    1, 1193],
        [   3,    1,  661],
        [   3,    1,  914],
        [   4,    1, 3408],
        [   5,    1, 2355],
        [   3,    1, 1197],
        [   5,    1, 1287],
        [   5,    1, 2804],
        [   4,    1,  594],
        [   4,    1,  919]], dtype=int64)

SGD Algorithm:
    
1-First, we create random A and B matrices. 

2-Then we find the error by substracting A*B from our actual Y matrix.

3-We find the elements of A and B iteratively by reducing the learning rate(eta).

4-This way we fill the blanks of sparse Y matrix and now have the movie predictions.

5-Any prediction/recommendation can be made by this final matrix.

In [50]:
A = np.mat(np.random.rand(userLength+1, 1))
B = np.mat(np.random.rand(1, movieLength+1))

EPOCH = 5
Eta = 0.1
eta = Eta

i=0
k=0
for i in range(EPOCH):
    E = np.array(M)*np.array(Y - A*B)
    Err = np.sum(E*E)/np.sum(np.array(M))
        
    for k in range(Ysize):
        u = Ys[k,0]
        m = Ys[k,1]
        
        err = Ys[k,0] - A[u,:]*B[:,m]
        
        temp_A = A[u,:] + eta*err[0,0]*B[:,m].T
        B[:,m]   = B[:,m] + eta*err[0,0]*A[u,:].T
        A[u,:]   = temp_A
    
    eta = Eta*1./(i+1)

In [62]:
res = A*B #final result matrix
user_id = 5 #example user id to recommend
userResult = [(0,0)]
for m in range (movieLength):
    movieTuple = (res[user_id,m],m)
    userResult.append(movieTuple)
userResult = sorted(userResult, key=lambda tup: tup[0], reverse=True)

#3 movies to recommend
for n in range(3):
    movie_id = userResult[n][1]
    movie_name = allratings[(allratings.movie_id == movie_id)]['title']
    print(movie_id, movie_name)

1 0    Toy Story (1995)
1    Toy Story (1995)
Name: title, dtype: object
6 2    Heat (1995)
Name: title, dtype: object
5 Series([], Name: title, dtype: object)