SWE546 Final Project
Sinan GÃ¶kdeniz

First of all, we need to read from movie.dat file via panda

In [1]:
import numpy as np
import pandas as pd
mcols = ['movie_id', 'title', 'genres']
mdata = pd.read_table('Data/movies.dat', sep='::', names=mcols, header=None, engine='python')

In [2]:
mdata[:10]

,movie_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

Merging ratings & movies

In [3]:
rcols = ['user_id', 'movie_id', 'rating', 'timestamp']
rdata = pd.read_table('Data/ratings.dat', sep='::', names=rcols, header=None, engine='python')

In [5]:
rdata[:10]

   user_id  movie_id  rating  timestamp
0        1       122       5  838985046
1        1       185       5  838983525
2        1       231       5  838983392
3        1       292       5  838983421
4        1       316       5  838983392
5        1       329       5  838983392
6        1       355       5  838984474
7        1       356       5  838983653
8        1       362       5  838984885
9        1       364       5  838983707

In [6]:
mergeddata = pd.merge(mdata, rdata)

In [33]:
mergeddata

,movie_id,title,genres,user_id,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,1.0,857911264
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,3.0,1133572007
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,18,3.0,1111545931
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,23,5.0,849543482
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,24,5.0,868254237
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,30,5.0,876526432
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,33,4.0,849544161
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,34,3.0,981560889
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,35,3.0,1133601653
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,36,4.0,1049770839
10,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,43,4.0,912611519
11,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,47,3.0,1162149908
12,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,56,4.5,1162155272
13,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,57,4.0,868259588
14,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,58,4.0,951028439
15,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,64,4.0,858445408
16,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,65,3.0,970837159
17,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,76,4.0,834876668
18,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,77,4.0,832198027
19,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,83,3.0,849547082
20,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,84,3.0,868260846
21,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,85,3.0,941537871
22,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,88,4.5,1084225319
23,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,90,5.0,857915096
24,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,91,3.0,948232063
25,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,95,3.0,849547160
26,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,96,4.0,959875144
27,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,98,4.0,857915788
28,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,100,1.5,1111552327
29,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,101,5.0,834935628
...,...,...,...,...,...,...
10000024,65027,"Death Kiss, The (1933)",Comedy|Mystery,59269,2.5,1230609838
10000025,65037,Ben X (2007),Drama,27584,4.5,1230902434
10000026,65037,Ben X (2007),Drama,30840,3.5,1230945323
10000027,65037,Ben X (2007),Drama,30879,2.5,1230855449
10000028,65037,Ben X (2007),Drama,33942,3.5,1230852212
10000029,65037,Ben X (2007),Drama,35579,3.5,1230993402
10000030,65037,Ben X (2007),Drama,61675,3.0,1230858735
10000031,65088,Bedtime Stories (2008),Adventure|Children|Comedy,18880,4.0,1230765180
10000032,65088,Bedtime Stories (2008),Adventure|Children|Comedy,25597,4.0,1231102569
10000033,65088,Bedtime Stories (2008),Adventure|Children|Comedy,31517,2.5,1231086941
10000034,65088,Bedtime Stories (2008),Adventure|Children|Comedy,38234,3.0,1230769931
10000035,65088,Bedtime Stories (2008),Adventure|Children|Comedy,48657,4.0,1230795287
10000036,65088,Bedtime Stories (2008),Adventure|Children|Comedy,54654,1.0,1230844558
10000037,65088,Bedtime Stories (2008),Adventure|Children|Comedy,56091,3.5,1230851753
10000038,65088,Bedtime Stories (2008),Adventure|Children|Comedy,63100,2.5,1231128015
10000039,65091,Manhattan Melodrama (1934),Crime|Drama|Romance,6757,4.0,1230918649
10000040,65091,Manhattan Melodrama (1934),Crime|Drama|Romance,23582,3.5,1230856044
10000041,65091,Manhattan Melodrama (1934),Crime|Drama|Romance,59269,3.5,1230935456
10000042,65126,Choke (2008),Comedy|Drama,52648,3.0,1231028759
10000043,65126,Choke (2008),Comedy|Drama,63100,4.5,1231130453
10000044,65126,Choke (2008),Comedy|Drama,64621,3.5,1231097168
10000045,65130,Revolutionary Road (2008),Drama|Romance,26920,2.5,1231061731
10000046,65130,Revolutionary Road (2008),Drama|Romance,49138,2.0,1231093935
10000047,65133,Blackadder Back & Forth (1999),Comedy,3149,2.0,1231075097
10000048,65133,Blackadder Back & Forth (1999),Comedy,19957,5.0,1231081397
10000049,65133,Blackadder Back & Forth (1999),Comedy,24495,4.0,1231081348
10000050,65133,Blackadder Back & Forth (1999),Comedy,33384,3.0,1231034528
10000051,65133,Blackadder Back & Forth (1999),Comedy,40570,2.0,1231055397
10000052,65133,Blackadder Back & Forth (1999),Comedy,45430,2.5,1231105425
10000053,65133,Blackadder Back & Forth (1999),Comedy,68151,5.0,1231129793

In [43]:
type(mergeddata)
def findUserRatings(user_id):
    df=mergeddata.loc[mergeddata['user_id'] == 5 ]
    df.set_index(['rating'])
    return df.rating.values

In [44]:
de=findUserRatings(5)
de[0]

for a in de:
    print(a)

1.0
3.0
3.0
3.0
5.0
5.0
5.0
4.0
3.0
3.0
3.0
4.0
3.0
3.0
3.0
4.0
3.0
4.0
3.0
4.0
3.0
3.0
3.0
4.0
3.0
3.0
5.0
5.0
3.0
4.0
5.0
5.0
3.0
3.0
5.0
3.0
4.0
3.0
5.0
5.0
3.0
5.0
5.0
5.0
3.0
4.0
5.0
3.0
1.0
1.0
4.0
1.0
3.0
4.0
4.0
4.0
5.0
5.0
5.0
5.0
4.0
4.0
5.0
4.0
4.0
4.0
5.0
3.0
4.0
5.0
4.0
5.0
5.0
4.0
4.0
5.0
4.0
5.0
5.0
5.0
4.0
4.0
4.0
4.0
5.0
4.0
1.0

Manhattan distance

In [46]:
def manhattan(user1,user2):
   user1r=findUserRatings(user1)
   user2r=findUserRatings(user2)
   distance = 0
   for r1 in user1r:
      if r1 in user2r:
         distance += abs(r1 - r2)
   return distance

NameError: name 'r2' is not defined

In [ ]:
manhattan(5,7)