SWE546 Final Project
Sinan GÃ¶kdeniz

First of all, we need to read from movie.dat file via panda

In [2]:
import numpy as np
import pandas as pd
mcols = ['movie_id', 'title', 'genres']
mdata = pd.read_table('Data/movies.dat', sep='::', names=mcols, header=None, engine='python')

In [3]:
mdata[:10]

,movie_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

Merging ratings

In [3]:
rcols = ['user_id', 'movie_id', 'rating', 'timestamp']
rdata = pd.read_table('Data/ratings.dat', sep='::', names=rcols, header=None, engine='python')

In [4]:
rdata[:10]

   user_id  movie_id  rating  timestamp
0        1       122     5.0  838985046
1        1       185     5.0  838983525
2        1       231     5.0  838983392
3        1       292     5.0  838983421
4        1       316     5.0  838983392
5        1       329     5.0  838983392
6        1       355     5.0  838984474
7        1       356     5.0  838983653
8        1       362     5.0  838984885
9        1       364     5.0  838983707