In [3]:
import pandas as pd
import numpy as np

In [4]:
class MovieLensData :
    
    def __init__(self):
        movie_cols = ['movie_id', 'title', 'genres']
        movie_data = pd.read_table('../data/1M/movies.dat', sep='::', names=movie_cols, usecols=range(5), header=None, engine='python')
        
        rating_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
        rating_data = pd.read_table('../data/1M/ratings.dat', sep='::', names=rating_cols, header=None, engine='python')
        
        movie_rating_data = pd.merge(movie_data, rating_data)
        self.allratings = movie_rating_data

In [5]:
movielens = MovieLensData()

In [7]:
movielens.allratings[:10]

,movie_id,title,genres,user_id,rating,timestamp
0,1,Toy Story (1995),Animation|Children's|Comedy,1,5,978824268
1,1,Toy Story (1995),Animation|Children's|Comedy,6,4,978237008
2,1,Toy Story (1995),Animation|Children's|Comedy,8,4,978233496
3,1,Toy Story (1995),Animation|Children's|Comedy,9,5,978225952
4,1,Toy Story (1995),Animation|Children's|Comedy,10,5,978226474
5,1,Toy Story (1995),Animation|Children's|Comedy,18,4,978154768
6,1,Toy Story (1995),Animation|Children's|Comedy,19,5,978555994
7,1,Toy Story (1995),Animation|Children's|Comedy,21,3,978139347
8,1,Toy Story (1995),Animation|Children's|Comedy,23,4,978463614
9,1,Toy Story (1995),Animation|Children's|Comedy,26,3,978130703

In [179]:
class MovieLensHelper :
    
    def __init__(self):
        pass
    
    @staticmethod
    def getRatingCountOfMovies(movielens):
        return movielens.allratings['title'].value_counts()
    
    @staticmethod
    def getMoviesFilteredByRatingCount(movielens, rating_greater_than=1):
        allratings_indexed = movielens.allratings.set_index('title')
        allratings_filtered = allratings_indexed.ix[movielens.allratings['title'].value_counts() > rating_greater_than]
        
        movie_titles = allratings_filtered.index.unique()
        
        allratings_new = allratings_filtered.drop(['timestamp','genres','movie_id'],axis=1)
        
        return movie_titles, allratings_new
      
    @staticmethod
    def getAverageRatingsOfUsersByMovieId(moveielens):
        avg_user_rating = movielens.allratings.groupby('user_id').mean().drop(['movie_id','timestamp'],axis=1)
        avg_user_rating.columns = ['avg_rating']
        
        return avg_user_rating
    
    @staticmethod
    def mergeDataSets(dataset1, dataset2, index_column=''):
        merged_dataset = pd.merge(dataset1.reset_index(),dataset2.reset_index())
        merged_dataset = merged_dataset.set_index(index_column)
        
        return merged_dataset
    
    @staticmethod
    def setIndex(dataset, index_columns=[]):
        ds = dataset.reset_index().set_index(index_columns)
        ds.index
        
        return ds

In [180]:
MovieLensHelper.getRatingCountOfMovies(movielens)

American Beauty (1999)                                                   3428
Star Wars: Episode IV - A New Hope (1977)                                2991
Star Wars: Episode V - The Empire Strikes Back (1980)                    2990
Star Wars: Episode VI - Return of the Jedi (1983)                        2883
Jurassic Park (1993)                                                     2672
Saving Private Ryan (1998)                                               2653
Terminator 2: Judgment Day (1991)                                        2649
Matrix, The (1999)                                                       2590
Back to the Future (1985)                                                2583
Silence of the Lambs, The (1991)                                         2578
Men in Black (1997)                                                      2538
Raiders of the Lost Ark (1981)                                           2514
Fargo (1996)                                                             2513
Sixth Sense, The (1999)                                                  2459
Braveheart (1995)                                                        2443
Shakespeare in Love (1998)                                               2369
Princess Bride, The (1987)                                               2318
Schindler's List (1993)                                                  2304
L.A. Confidential (1997)                                                 2288
Groundhog Day (1993)                                                     2278
E.T. the Extra-Terrestrial (1982)                                        2269
Star Wars: Episode I - The Phantom Menace (1999)                         2250
Being John Malkovich (1999)                                              2241
Shawshank Redemption, The (1994)                                         2227
Godfather, The (1972)                                                    2223
Forrest Gump (1994)                                                      2194
Ghostbusters (1984)                                                      2181
Pulp Fiction (1994)                                                      2171
Terminator, The (1984)                                                   2098
Toy Story (1995)                                                         2077
                                                                         ...
Nemesis 2: Nebula (1995)                                                    1
Project Moon Base (1953)                                                    1
Elstree Calling (1930)                                                      1
Fantastic Night, The (La Nuit Fantastique) (1949)                           1
Uninvited Guest, An (2000)                                                  1
Follow the Bitch (1998)                                                     1
Resurrection Man (1998)                                                     1
Jar, The (Khomreh) (1992)                                                   1
Song of Freedom (1936)                                                      1
Bat Whispers, The (1930)                                                    1
I Don't Want to Talk About It (De eso no se habla) (1993)                   1
Juno and Paycock (1930)                                                     1
Ulysses (Ulisse) (1954)                                                     1
Voyage to the Beginning of the World (1997)                                 1
Wend Kuuni (God's Gift) (1982)                                              1
Dream Man (1995)                                                            1
With Byrd at the South Pole (1930)                                          1
Never Met Picasso (1996)                                                    1
Telling You (1998)                                                          1
Waiting Game, The (2000)                                                    1
Full Speed (1996)                                                           1
Ring, The (1927)                                                            1
An Unforgettable Summer (1994)                                              1
Windows (1980)                                                              1
Lay of the Land, The (1997)                                                 1
Underworld (1997)                                                           1
Waltzes from Vienna (1933)                                                  1
Heaven's Burning (1997)                                                     1
McCullochs, The (1975)                                                      1
Even Dwarfs Started Small (Auch Zwerge haben klein angefangen) (1971)       1
Name: title, dtype: int64

In [181]:
movie_titles, ratings_filtered = MovieLensHelper.getMoviesFilteredByRatingCount(movielens,100)
ratings_filtered[:10]

                  user_id  rating
title
Toy Story (1995)        1       5
Toy Story (1995)        6       4
Toy Story (1995)        8       4
Toy Story (1995)        9       5
Toy Story (1995)       10       5
Toy Story (1995)       18       4
Toy Story (1995)       19       5
Toy Story (1995)       21       3
Toy Story (1995)       23       4
Toy Story (1995)       26       3

In [182]:
movie_titles

array(['Toy Story (1995)', 'Jumanji (1995)', 'Grumpier Old Men (1995)',
       ..., 'Meet the Parents (2000)', 'Requiem for a Dream (2000)',
       'Contender, The (2000)'], dtype=object)

In [183]:
avg_user_rating = MovieLensHelper.getAverageRatingsOfUsersByMovieId(movielens)
avg_user_rating[:10]

         avg_rating
user_id
1          4.188679
2          3.713178
3          3.901961
4          4.190476
5          3.146465
6          3.901408
7          4.322581
8          3.884892
9          3.735849
10         4.114713

In [184]:
merged_ratings = MovieLensHelper.mergeDataSets(ratings_filtered, avg_user_rating, 'title')
merged_ratings[:10]

                                           user_id  rating  avg_rating
title
Toy Story (1995)                                 1       5    4.188679
Pocahontas (1995)                                1       5    4.188679
Apollo 13 (1995)                                 1       5    4.188679
Star Wars: Episode IV - A New Hope (1977)        1       4    4.188679
Schindler's List (1993)                          1       5    4.188679
Secret Garden, The (1993)                        1       4    4.188679
Aladdin (1992)                                   1       4    4.188679
Snow White and the Seven Dwarfs (1937)           1       4    4.188679
Beauty and the Beast (1991)                      1       5    4.188679
Fargo (1996)                                     1       4    4.188679

In [191]:
rs = MovieLensHelper.setIndex(merged_ratings, ['title','user_id'])
rs.ix['Fargo (1996)'][:10]

         rating  avg_rating
user_id
1             4    4.188679
8             5    3.884892
9             4    3.735849
23            4    3.315789
28            4    3.757009
36            5    4.199430
48            4    3.068562
56            5    3.970149
65            3    4.347107
76            5    4.172414

In [190]:
class SimilarityFinder :
    
    def __init__(self):
        pass
    
    @staticmethod
    def join(rs, movie1_title, movie2_title):
        movie1 = rs.ix[movie1_title].reset_index()
        movie2 = rs.ix[movie2_title].reset_index()
        
        mm = pd.merge(movie1, movie2, on='user_id').drop('user_id', axis=1)
        
        return mm
    
    @staticmethod
    def findPearsonSimilarityValue(rs, movie1_title, movie2_title):
        data = SimilarityFinder.join(rs, movie1_title, movie2_title)
        
        data['rating_x'] = data['rating_x'].astype('float32')
        data['rating_y'] = data['rating_y'].astype('float32')
        
        pcorr = data.corr(method='pearson')
        
        return pcorr.ix['rating_x']['rating_y']
    
    @staticmethod
    def findPairSimilarityValue(rs, movie1_title, movie2_title, verbose=False):
        data = SimilarityFinder.join(rs, movie1_title, movie2_title)
        
        num  = (data['rating_x'] - data['avg_rating_x']).dot((data['rating_y'] - data['avg_rating_y']))
        den1 = (data['rating_x'] - data['avg_rating_x']).dot((data['rating_x'] - data['avg_rating_x']))
        den2 = (data['rating_y'] - data['avg_rating_y']).dot((data['rating_y'] - data['avg_rating_y']))

        sim = num / np.sqrt(den1*den2)
        if sim > 1.0: sim = 1.0 
        return sim
    
    @staticmethod
    def findBestMatches(rs, movie_title, movie_titles, ntop=100, similarity_function_name='pearson'):
        score = []
        
        for movie_title2 in movie_titles:
            if movie_title == movie_title2: 
                continue
            if similarity_function_name == 'pearson':
                corr = SimilarityFinder.findPearsonSimilarityValue(rs, movie_title, movie_title2)
            if similarity_function_name == 'pair':
                corr = SimilarityFinder.findPairSimilarityValue(rs, movie_title, movie_title2)
            if pd.isnull(corr): 
                continue
            
            score += [(corr, movie_title2)] 
            
        score.sort()
        score.reverse()
        
        return score[0:ntop]

In [138]:
value = SimilarityFinder.findPearsonSimilarityValue(rs, 'Fargo (1996)', 'Saving Private Ryan (1998)')
value

0.095240647626515379

In [139]:
value = SimilarityFinder.findPairSimilarityValue(rs, 'Fargo (1996)', 'Saving Private Ryan (1998)')
value

0.38085497648191285

In [168]:
time score = SimilarityFinder.findBestMatches(rs, 'Deer Hunter, The (1978)', movie_titles)

Wall time: 1min 15s

In [169]:
score

[(0.68519671766984935, 'Bank Dick, The (1940)'),
 (0.61754996298072617, 'Ninotchka (1939)'),
 (0.58451876847105411, 'Carnival of Souls (1962)'),
 (0.57004087035588757, 'Return of the Fly (1959)'),
 (0.56932079497565791, 'Killer, The (Die xue shuang xiong) (1989)'),
 (0.53851196036005333, 'Chungking Express (1994)'),
 (0.52656766771370478, 'Crucible, The (1996)'),
 (0.52629989901984342, 'Murder, My Sweet (1944)'),
 (0.52556544432949681, "All the King's Men (1949)"),
 (0.51608782605151282, 'Brokedown Palace (1999)'),
 (0.51584122112135078, 'Marty (1955)'),
 (0.51576899775442098, 'Fighting Seabees, The (1944)'),
 (0.50709719633499062, 'Girlfight (2000)'),
 (0.50672844621884661, 'Invisible Man, The (1933)'),
 (0.50664915892853168, "Wes Craven's New Nightmare (1994)"),
 (0.50065652153557283, 'Taking of Pelham One Two Three, The (1974)'),
 (0.49793634606326415, 'True Crime (1995)'),
 (0.4903332116500338, 'Suspicion (1941)'),
 (0.48720657037290921, 'Outside Providence (1999)'),
 (0.48474246994898679, 'Coming Home (1978)'),
 (0.48191825736121108, 'Killing Fields, The (1984)'),
 (0.47907921311958807, 'Clockers (1995)'),
 (0.47761497616186921, 'Children of the Damned (1963)'),
 (0.47534072881784528, 'How to Make an American Quilt (1995)'),
 (0.47378507247519402, 'Manon of the Spring (Manon des sources) (1986)'),
 (0.47062717121619657, 'Nineteen Eighty-Four (1984)'),
 (0.46636456273214077, 'Flying Tigers (1942)'),
 (0.46020293675043694, "They Shoot Horses, Don't They? (1969)"),
 (0.4565089824208588, 'Wings of the Dove, The (1997)'),
 (0.45523323128546023, 'Lifeboat (1944)'),
 (0.45153881054180328, 'Last Detail, The (1973)'),
 (0.44622877498452035, 'Spellbound (1945)'),
 (0.44469966399810407, 'Terms of Endearment (1983)'),
 (0.44394960846425169, 'Love and Basketball (2000)'),
 (0.4425372060196649, 'Dracula (1931)'),
 (0.44102642817049847, 'Distinguished Gentleman, The (1992)'),
 (0.43850657857392239, 'Misérables, Les (1995)'),
 (0.43539052198925704, "Smilla's Sense of Snow (1997)"),
 (0.43474525463323549, 'Bad Seed, The (1956)'),
 (0.43246023854627058, 'Tao of Steve, The (2000)'),
 (0.43177809062261968, 'Apocalypse Now (1979)'),
 (0.42822895708702136, 'Reds (1981)'),
 (0.42796545580331419, 'Bad Lieutenant (1992)'),
 (0.42778069291315635, 'Quest for Fire (1981)'),
 (0.42683681209527208, 'Tommy (1975)'),
 (0.42583073617484529, 'Death and the Maiden (1994)'),
 (0.42554738623599203, 'Wolf Man, The (1941)'),
 (0.42497240983719053, 'High Plains Drifter (1972)'),
 (0.42225523101964602, 'Love and Death (1975)'),
 (0.42224853253733502, 'Deep Rising (1998)'),
 (0.42224484678510893, 'Paper, The (1994)'),
 (0.42202601238007242, 'Postman Always Rings Twice, The (1981)'),
 (0.41923420411905288, 'Jules and Jim (Jules et Jim) (1961)'),
 (0.41827917543875776, 'Central Station (Central do Brasil) (1998)'),
 (0.41628358521043596, 'Kolya (1996)'),
 (0.41462808544362789, 'Midnight Express (1978)'),
 (0.41421444212015801,
  'Dreamlife of Angels, The (La Vie rêvée des anges) (1998)'),
 (0.41246274087897467, 'Three Caballeros, The (1945)'),
 (0.4122412841335592, "What's Love Got to Do with It? (1993)"),
 (0.41104379429710525, 'Dead Zone, The (1983)'),
 (0.41060503069016346, 'My Fellow Americans (1996)'),
 (0.41013825584892899, 'In the Heat of the Night (1967)'),
 (0.40944937873952186, 'Coma (1978)'),
 (0.40860390690429021, 'True Crime (1999)'),
 (0.40826254557927733, 'Cemetery Man (Dellamorte Dellamore) (1994)'),
 (0.40677291997275278, 'Bride of Frankenstein (1935)'),
 (0.40490947457450893, 'Mutiny on the Bounty (1935)'),
 (0.40391888283011596, 'Great Santini, The (1979)'),
 (0.40383536099222289, 'Beautiful Girls (1996)'),
 (0.40248729328939242, 'Mighty Joe Young (1949)'),
 (0.40234688529679097, 'Hamlet (1990)'),
 (0.40175755388120798, 'Island of Dr. Moreau, The (1996)'),
 (0.40162008896368528, 'Mark of Zorro, The (1940)'),
 (0.40090212844459772, 'Captain Horatio Hornblower (1951)'),
 (0.40064154010750214, 'House (1986)'),
 (0.39981267087720712, "One Flew Over the Cuckoo's Nest (1975)"),
 (0.39865095432448916, 'Ice Storm, The (1997)'),
 (0.39843913922807717, 'Abbott and Costello Meet Frankenstein (1948)'),
 (0.39843250135352176, 'Pawnbroker, The (1965)'),
 (0.39769327304914182, 'Night to Remember, A (1958)'),
 (0.39750254022549858, 'Little Women (1994)'),
 (0.39517935097889978, 'Searchers, The (1956)'),
 (0.39505236309228969, 'Pit and the Pendulum (1961)'),
 (0.39491203645238815, 'Pale Rider (1985)'),
 (0.39360706306936294, 'Wonder Boys (2000)'),
 (0.39252292966784891, 'Clay Pigeons (1998)'),
 (0.3923180276570204, 'Elizabeth (1998)'),
 (0.38947387680313705, 'East of Eden (1955)'),
 (0.38759959076017875, 'Cat on a Hot Tin Roof (1958)'),
 (0.38722917593916473, 'Dog Day Afternoon (1975)'),
 (0.38702026370205511, 'Rosewood (1997)'),
 (0.38444222597783373, 'Falcon and the Snowman, The (1984)'),
 (0.38426315176329473, "Things to Do in Denver when You're Dead (1995)"),
 (0.3840552866218781, 'Serpico (1973)'),
 (0.38300380435597992, 'Cat People (1982)'),
 (0.38170106138465182, 'Grand Illusion (Grande illusion, La) (1937)'),
 (0.38156961259552297, 'Atlantic City (1980)'),
 (0.38066976840744193, 'Down to You (2000)'),
 (0.37996741205323875, 'Postino, Il (The Postman) (1994)'),
 (0.37892919489876575, 'Before Sunrise (1995)')]